EXPO_PUBLIC_SUPABASE_URL='https://nsombnwnjpzaszmcqjkh.supabase.co'
EXPO_PUBLIC_SUPABASE_ANON_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zb21ibnduanB6YXN6bWNxamtoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3NTQ1NTksImV4cCI6MjA5ODMzMDU1OX0.NSd_mXOUR0gf4ldIh8fSq01jJGqIUG3YZh0u2PXq5Uw'